on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

name: main
jobs:
  run_action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - run: npm ci

      - run: npm run lint

      - run: npm run build
